* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #FFFC00;
  min-height: 100%;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
  -ms-transition: opacity ease 0.5s;
}

#content {
  margin-top: -100px;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#navbar > .logo {
  width: 144px;
  height: 144px;
}

#content > h1 {
  font-size: 47px;
  font-weight: 700;
  line-height: 46px;
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

#content > h1.username {
  width: 300px;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  font-weight: 300;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

#button-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: black;
  border-radius: 1.66667em;
  outline: none;
  border: none;
  padding: 0.625rem 1.66667em;
}

#no-thanks {
  background-color: #FFFC00;
}

#footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-weight: 800;
}

#footer > span {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

#logo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#add {
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.5);
  transition: background ease 0.3s;
  -webkit-transition: background ease 0.3s;
  -ms-transition: background ease 0.3s;
}

#add::before {
  width: 0px;
  height: 41px;
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  width: 0px;
  background: white;
  z-index: -1;
  transition: width linear 5s;
  -webkit-transition: width linear 5s;
  -ms-transition: width linear 5s;
}

#add.countdown::before {
  width: 168px;
}

#add.cancelled::before {
  width: 0px !important;
  transition: width ease 0.3s !important;
  -webkit-transition: width ease 0.3s !important;
  -ms-transition: width ease 0.3s !important;
}

#add.cancelled {
  background: rgba(255,255,255,0.7) !important;
}
